<!DOCTYPE html>
<html>
    <head>
        <meta chartset="utf-8">
        <meta name='viewport' content='width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui'>
        <meta name='apple-mobile-web-app-status-bar-style' content='black'>
        <title>报道取号</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>


