<%- include header%>
    <div class="panel">
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            <form method='post' action="/set" align="center">
                <button>点击向后叫号</button>
        <br>
                <h4>当前报道区间:(<%= min%>, <%= max%>)</h4>
                <br>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="jquery.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
<%- include footer%>
